# =========================
# Build Output
# =========================
**/Output/
**/Objects/
**/Listings/
**/Debug/
**/Release/
build/

# =========================
# Binary Files
# =========================
*.hex
*.bin
*.elf
*.axf
*.map
*.lst
*.o
*.d

# =========================
# Keil
# =========================
*.uvguix.*
*.uvoptx
*.bak
*.dep
*.crf
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/